<p>This pattern proves that we can find a pattern's twig template, even if additional
  leading numbers exist in the pattern definition file name, but not the twig template
  file name. We can even handle a leading - rather than a _</p>